language: python
python:
  # - "3.3"
  - "2.7"
  # - "2.6"
virtualenv:
  # This allows installing PyQt using apt-get and being able to import it.
  system_site_packages: true
before_install:
  # On Python 2.7 we install PyQt4 and run the UI tests.
  - if [[ $TRAVIS_PYTHON_VERSION == '2.7' ]]; then source .travis_before_install; fi
# install dependencies
install:
  - pip install nose
  - pip install unittest2
  - sudo apt-get python-numpy
  - sudo apt-get python-scipy
  - sudo apt-get python-enable
  # - pip install numpy
  # - pip install scipy
  - pip install traits
  - pip install traitsui
  - pip install pyface
  # - pip install enable
  - pip install chaco
# run tests
script:
  - nosetests
